<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CodeBlog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="https://bulma.io" class="navbar-item">CodeBlog</a>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>